asn1crypto==1.2.0
beautifulsoup4==4.8.1
cffi==1.13.0
Click==7.0
cryptography==2.7
Flask==1.1.1
Flask-DotEnv==0.1.2
Flask-Login==0.4.1
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.17.2
Pillow==9.0.0
pycparser==2.19
pymongo==3.9.0
pyOpenSSL==19.0.0
six==1.12.0
soupsieve==1.9.4
Werkzeug==0.16.0
WTForms==2.2.1
