html {
    font-family: Arial; 
    font-size: 1.5vh;
}

button {cursor: pointer; }
#fullScreenLoading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display_none {display: none !important; }
.loading_spinner {width: 10vw; margin: 2vh auto; }
.warning_button {background: #c60000; color: #fff; font-weight: bold; }

/****** navigation *********/
.nav_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 1vh;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    background: #fff;   
}

#savedPopup {
    transition: 1s;
    position: absolute;
    right: 3%;
    bottom: 3%;
    background: #fff;
    border: 0.5em solid #0cc;
    border-radius: 100%;
    height: 6%;
    width: 5%;
    display: flex;
    align-items: center;
    color: #c00;
    font-weight: bold; 
    z-index: 9999;
    justify-content: center;
    font-size: 3em;
    overflow: hidden;
    opacity: 0;
}
#savedPopup.visible {
    opacity: 1;
}

/****** asset creator modal *********/

.asset_creator_modal {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center; 
}
.asset_creator_inner {
    z-index: 15;
    width: 50%;
    margin: 0 auto; 
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 1vw;
    padding-bottom: 1vw; 
}
.asset_creator_inner.new_post {
    width: 70%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: space-evenly;   
}

.create_new_post {padding: 1em; }
.create_new_post.active {background: #00b600; color: #fff; cursor: pointer; font-weight: bold; }

.hero_image_controls {
    display: flex;
    flex-direction: row;
}
.hero_image_preview_img {
    display: flex;
    width: 40%;
    justify-content: center;
    height: 15vh;
    background: #94D6F4;
    border: 2px solid #94D6F4; 
}
.hero_image_preview_text {
    width: 60%;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.hero_image_preview_img img {max-height: 15vh; }

.asset_creator_inner.upload_images {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.asset_creator_inner.upload_images * {
    width: 75%;
    margin: 1em auto;
 
}
.asset_creator_inner.upload_images form {
    display: flex;
    flex-direction: column; 
}

.asset_creator_inner.rm_images {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60%;  
}
.asset_creator_inner.rm_images button {width: 100%; }
.asset_creator_inner.rm_images form {width: 100%; }
img.rm_image_preview {max-height: 40vh; border: 2px solid #f60000;}
button.rm_image_button {background: #f60000; color: #fff; padding: 1vh; width: 100%; }

/****** asset inventory *********/
.assets_container {
    margin: 0 auto; 
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px; 
    justify-content: space-evenly; 
    background: #ddd;
    padding: 1vh; 
    margin-bottom: 7%;
    margin-top: 5%; 
}

.asset_column {
    width: 49%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #fff; 
    border-radius: 10px;
    padding-bottom: 1vh;
}
button.create_new {width: 95%; margin: 1em; border-radius: 10px; }
.asset_column_loader {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 95%;
    margin: 0 auto; 
}

.edit_post_picker {
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
}
.edit_post_picker li {
    flex-grow: 1;
    cursor: pointer;
    max-width: 48%;
    list-style-type: none;
    margin: 0.5vh;
    padding: 2px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    box-sizing: border-box; 
}
.edit_post_thumbnail {
    height: 8vh;
}
.edit_post_thumbnail_container {
    text-align: center; 
}
.edit_post_details {
    margin-left: 1vw; 
    font-size: 0.8em;
}

.edit_post_details * {font-weight: bold; }

.asset_corral { /* this is a ul */
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 95%;  
    margin: 0 auto;
    overflow: hidden;
    padding: 0;  
}
.asset_corral li {
    list-style-type: none;
    height: 15vh;
    flex-grow: 1;
    overflow: hidden;
}
.asset_corral.edit_post li {
    height: 10vh;
    overflow: hide; 
    filter: grayscale(100%);
    transition: 3s;  
}
.asset_corral.edit_post li.is_attached,
 .asset_corral.edit_post li.is_hero {
    filter: grayscale(0%); 
}

.asset_corral.edit_post li.is_attached::before,
 .asset_corral.edit_post li.is_hero::before {
    color: #f00;
    font-weight: bold; 
    position: absolute; 
}
.asset_corral.edit_post li.is_hero::before {content: "\2605";}
.asset_corral.edit_post li.is_attached::before {content: "\2713";}

.asset_corral.thumbnail_picker li {
    height: 10vh; 
}
.asset_corral li:last-child {
  flex-grow: 10;
}
.asset_detail_top, .asset_detail_bottom {
    position: absolute;
    padding: 2px;
    color: #fff;
    font-size: 0.7em;
    background: #000; 
    margin-left: 1vw; 
}
.asset_detail_top {
    margin-top: 1vh;
}
.asset_detail_bottom {
    margin-top: -2vh;
}
.asset_corral_image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
    cursor: pointer; 
}

/****** edit post! *********/

.edit_post_container {
    margin-left: 1vw; 
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 80%;
    max-width: 1400px; 
}

.edit_post_left_column {width: 40%; box-sizing: border-box;}
.edit_post_left_column {
    display: flex;
    flex-direction: column;
}
.edit_post_hero_container {display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;padding: 1vh; }
.edit_post_hero_container * {margin: 1vh; }
.edit_post_hero_container img {height: 30vh; border: 2px solid #E49797;}
.edit_post_hero_caption {border: none; width: 100%; text-align: center;  }
.edit_post_attachments_inventory {width: 90%; margin: 0 auto; }
.attachment_container {margin: 0.4em; display: flex; flex-direction: row; padding: 2px; background: #F9CC9D; justify-content: space-evenly; }
.attachment_container img {height: 4vh; }
.attachment_caption {width: 100%; border: none; vertical-align: top; padding: 2px; outline: none; padding-left: 0.5vw; }
.edit_post_attachments_toggler {display: flex; flex-direction: row; padding: 1vh; margin-bottom: -3px; padding-bottom: 0; }
.toggler {background: #ccc; color: #aaa; padding: 0.7vh; border: 1px solid #666; font-size: 0.8em; cursor: pointer; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-left: 1vw; }
.toggler.active {color: #000; border-width: 2px; }
.toggle_hero {border-color: #E49797; background: #E49797;}
.toggle_attachments {border-color: #F9CC9D; background: #F9CC9D; }

.edit_post_middle_column {width: 40%; display: flex; flex-direction: column; }
.edit_post_body {box-sizing: border-box; min-height: 50%; height: 100%; border: 0; color: #aaa; resize: none; }
.edit_post_body:focus {color: #000; outline: none; }
.edit_post_body.active {color: #000; }
.edit_post_right_column {width: 20%; display: flex; flex-direction: column; box-sizing: border-box; padding-left: 1vw; }
.edit_post_publish_controls {display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 1vh; }
.edit_post_publish_controls button {padding: 0.7vw; border-radius: 10px; }
.tags_container {display: flex; flex-direction: column; justify-content: space-evenly; border: 1px solid #ddd; margin-top: 1vh; }
.tags_corral {display: flex; flex-direction: row; flex-wrap: wrap; }
.tag {padding: 0.2vw; border: 1px solid #ccc; background: #ddd; color: #eee; margin: 2px; transition: 2s; cursor: pointer; }
.tag.active {border-color: #FF9900; background: #0c3;}
.new_tag_widget {padding: 0.2vw; background: #cf0;}
.new_tag_widget input {font-size:0.8em; padding-left: 2px; }

/****** user mgmt *********/
.user_management {
    position: fixed;
    bottom: 0; 
    left: 0;
    right: 0; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-top: 1px solid #ddd;
    padding: 1vh;
    border-radius: 10px;
    background: #fff;   
}
.user_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; 
    height: 100%;
    color: #ccc;
}
.admin_avatar {height: 5vh; }
