html {
    font-family: Arial;
    font-size: 5vmin;
}

body {
    color: #fff;
    background: #000;
}

a {
    color: #fff; 
    text-decoration: none;
}

a.fancy {
    background: linear-gradient(to right, #f80000, #FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.fancy:visited {
    background: linear-gradient(to right, #A51280, #881280);
}

.centered {text-align: center; }


#homeLink {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
    width: 30%;
    height: 20%; 
    background: url('/static/media/the_labor_in_vain_logo_no_text.webp') no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.footer {width: 100%; text-align: center; font-size: 0.5em; }

.index_about {margin: 1vh; background: #000; color: #fff; }
.index_about p {padding: 1em; }
.close_index_about {padding: 0.5em; width: 100%; margin-top: auto; font-size: 1.5em; }

#postContainer {
    margin-bottom: 65%; 
}

.asset_corral {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.asset_corral li {
    flex-grow: 1;
    list-style-type: none;
    overflow: hidden;  
}

.asset_corral li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.post {
    cursor: pointer;
    margin: 0.5%;
    height: 20vh;
}

.attachment_thumbnail{
    margin: 0.1em;
    height: 8vh; 
}


/*********  MODAL   *********/
.modal_outer {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    padding: 1%; 
}
.modal_inner {
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.modal_hero_container {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.hero_info_container {
    text-align: right;
    display: flex;
    flex-direction: column;
    min-height: 60%; 
    align-items: flex-end;
    padding: 1vh; 
}
.hero_info_container h1 {
    display: inline-block; 
}
.hero_tags_container {
    text-align: left;
    margin-top: auto;
    width: 75%;
    padding-left: 1vh;
    padding-bottom: 1vh; 
}
.hero_tags_container *, .hero_info_container * {
    background: #000;
    padding-left: 2vw;
    padding-right: 2vw
}
.hero_tag {font-size: 0.6em; margin: 0.3em; padding: 0.2em; line-height: 2em;}
.lede_container {
    text-decoration: none; 
    cursor: pointer; 
    margin: 1vh;
    background: #000;
    color: #fff;
    padding: 1vh; 
}
.modal_close {
    font-size: 1em;
    padding: 0.5em; 
    margin-top: auto; 
    width: 100%;  
}
