html, body {height: 100%; }
html {
    font-family: Arial;
    font-size: 2vh;
}
h1 {font-size: 4vh; }
body {
    color: #fff;
    background: #000;
    padding: 0; 
}

a {
    color: #fff; 
    text-decoration: none;
}

a.fancy {
    background: linear-gradient(to right, #f80000, #FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.fancy:visited {
    background: linear-gradient(to right, #A51280, #881280);
}

.centered {text-align: center; }
q {display: block; padding: 1em; color: #ddd; }
q::before {content: none; }

#homeLink {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
    width: 30%;
    height: 20%; 
    background: url('/static/media/the_labor_in_vain_logo_no_text.webp') no-repeat;
    background-size: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back_arrow {
    color: #FFf;
    font-size: 5em;
    font-weight:bold;
    transform: scale(-1,-1);
    margin-left: -10%;
    text-shadow: #000 0 0 0.2em;
    -webkit-font-smoothing: antialiased;
}


#footer {width: 100%; text-align: center; padding-bottom: 0.3vh;  font-size: 2vh; -webkit-text-size-adjust: none;}
#cookieConsentContainer {
    z-index: 9999;
    font-size: 2.5vh; 
    padding: 3%;
    padding-bottom: 5%;  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFE500;
    color: #052962;
    border-top: 0.5vw dashed #052962; 
}
#cookieConsentContainer a {
    color: #052962;
    text-decoration: underline;
    font-weight: bold; 
}
#cookieConsentContainer h3 {
    margin-top: 0;
}
#cookieConsentContainer button {
    border: 0.4vw solid #052962; 
    font-size: 1.5em; 
    background: #fff;
    color: #000;
    padding: 1%;
    padding-bottom: 2%;  
    padding-left: 7%;
    padding-right: 10%; 
    border-radius: 20vw;
    margin: 0 auto;
    margin-top: 10%; 
    display: block;   
}


.index_about {margin: 1vh; background: #000; color: #fff; }
.index_about p {padding: 1em; }
.close_index_about {padding: 0.5em; width: 100%; margin-top: auto; font-size: 1.5em; }

.post_year_container:last-child {
    margin-bottom: 55%; 
}
h2.post_year {
    font-size: 3vh;
    margin: 2%; 
}
.asset_corral {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.asset_corral li {
    flex-grow: 1;
    list-style-type: none;
    overflow: hidden;  
}

.asset_corral li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.post {
    cursor: pointer;
    margin: 0.5%;
    height: 20vh;
}

.attachment_thumbnail{
    margin: 0.1em;
    height: 8vh; 
}


/*********  MODAL   *********/
.modal_outer {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    padding: 1%; 
}
.modal_inner {
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;  
}
.modal_inner.tag_search::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#modalHeroContainer {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.modal_hero_container {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.hero_info_container {
    text-align: right;
    display: flex;
    flex-direction: column;
    min-height: 60%; 
    align-items: flex-end;
    padding: 1vh; 
}
.hero_info_container h1 {
    display: inline-block; 
}
.hero_tags_and_figure_container {
    display: flex;
    margin-top: auto;
    width: 100%;
    padding-left: 1vh;
    padding-bottom: 1vh; 
    justify-content: space-between;
    box-sizing: border-box;  
}
.hero_tags_container {
    text-align: left;
    width: 70%;
    display: flex;  
    align-items: flex-end;
    padding-right: 2vw;
    flex-wrap: wrap;  
}
.hero_tags_container *, .hero_info_container * {
    background: #000;
    padding-left: 2vw;
    padding-right: 2vw
}
.hero_figure_thumbnail {
    background: #bbb;
    margin-right: 2%; 
    width: 20%;
    height: 10vh; 
    overflow: hidden; 
    border-radius: 2vw;
    box-shadow: 0 0 4px 1px #aaa;
}
.hero_figure_thumbnail.invisible {
    box-shadow: none; 
    background-color: none; 
    background: none;
    border: none; 
}
.hero_figure_thumbnail img {
}
.hero_figure_thumbnail.tall_thumb img {
    width: 115%;
    height: auto; 
    margin-top: -20%;
}
.hero_figure_thumbnail.wide_thumb img {
    height: 110%;
    width: auto;
}
.hero_tag {
    display: inline-block;
    white-space: nowrap;  
    margin: 0.3em;
    padding: 0.2em;
    line-height: 2em;
    height: 2em; 
}
.lede_container {
    text-decoration: none; 
    cursor: pointer; 
    margin: 1vh;
    background: #000;
    color: #fff;
    padding: 1vh;
    font-size: 1.25em; 
}


/*********  post view   *********/
.post_full_view_container {
    height: auto;
    margin: 0.5em; 
    margin-bottom: 65%;
}
.post_full_view_container h1 {text-align: center;}
p.published_on {
    text-align: right;
}
.post_full_view_hero, .post_full_view_attachment {
    cursor: pointer; 
    max-width: 100%; 
}
.post_full_view_body p {
    font-size: 12pt; 
}
.asset_corral.post_full_view_tags,
    .post_full_view_figure_container,
    .post_full_view_paints_container {
    margin: 1vw;
    margin-top: 5vh;
    margin-bottom: 3vh;  
    padding: 0.5em;
    border: 0.2em solid #fff;
    border-radius: 10px; 
}
.post_full_view_paints_container {
    margin-top: 3vh;
}
.asset_corral.post_full_view_tags li {
    padding: 1vw; 
    border: 2px solid;
    border-radius: 10px;
    margin: 1vw;
    color: #000;
    background: linear-gradient(20deg, #C2EE89, #F9EC9D);
    border-color: #00FF00; 
    border-bottom-color: #FF9900; 
    border-right-color: #FF9900; 
    cursor: pointer;
    font-weight: bold;  
}
.paint_swatch_container {
    display: flex;
    flex-wrap: nowrap;
}
.paint_swatch_outer {
    width: 25%;
}
.paint_swatch_inner {
    width: 15vw;
    height: 15vw;
    border: 1px solid #fff;
    border-radius: 50vw;
    margin: 3% auto; 
}
.paint_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post_full_view_figure_container {
    display: flex;
    margin-top: 0;
    height: 15vh; 
    justify-content: space-evenly; 
}
.post_full_view_figure_concept,
    .post_full_view_figure_unpainted {
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
}
.post_full_view_figure_details {
    width: 35%;
    text-align: center;  
}
.post_full_view_figure_details h2 {
    display: inline; 
}
.post_full_view_figure_concept img,
    .post_full_view_figure_unpainted img {
    height: 20vh;
    margin-top: -2vh;  
}
.attachment_caption {
    font-style: italic; 
    margin-bottom: 3vh;
    margin-top: 0;
    margin-left: 1vw;
    margin-right: 1vw;   
    text-align: center; 
    font-size: 0.75em; 
}


/*********  photo gallery!   *********/


.modal_inner.photo_gallery {
    color: #fff;
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    
}

.gallery_ui, .gallery_navigator {
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.gallery_ui {
    height: 78%; 
}
.gallery_navigator{
    height: 15%;
}
.gallery_navigator.gallery_current_image {
    font-size: 3vh; 
}
.gallery_current_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; 
}
.gallery_current_image img {
    max-width: 100%; 
    max-height: 100%; 
}
.gallery_page_left, .gallery_page_right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    cursor: pointer;  
}
.gallery_page_left {
    transform: scale(-1,-1);
    padding-bottom: 3vh; 
}

.gallery_close_button, .modal_close {
    width: 100%;
    font-size: 3vh;
    padding: 1vh;
    margin-top: auto;
    background: radial-gradient(#FF0040, #ff0099);
    color: #fff; 
    border-bottom-style: none; 
    border: 0.1em solid #fff; 
    border-radius: 100px;
    cursor: pointer; 
}

.modal_close.post_full_view {
    margin-top: 40%; 
    margin-bottom: -50%; 
}

.paint_swatch_inner {
    width: 10vw;
    height: 10vw;
}
.tag_search_results_container {
    width: 100%;
    margin-bottom: 10vh;  
}
.tag_search_result {
    border: 0.2em solid #fff;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 8vh;
    background: #fff;
    overflow: hidden; 
    cursor: pointer;
}
.tag_search_super_head {
    margin-bottom: -3vh; 
}
.tag_search_result_image_container {
    width: 20vw;
    height: 20vw; 
    display: flex;
    overflow: hidden;
    align-items: center; 
}
.tag_search_result_image {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
}
.tag_search_result_description {
    padding: 0.2em;
    width: 100%; 
    padding-left: 1vw;
    background: #000;
    color: #fff; 
}
.tag_search_result_title {
    font-size: 1.5em;
}
/*********  ALTERNATE BREAKPOINTS HERE   *********/



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #homeLink {
        width: 20%;
        height: 20%; 
    }
    #cookieConsentContainer {
        font-size: 2vh;
    }
    #cookieConsentContainer button {
        margin-top: 5%; 
    }
    .post {
        height: 15vh; 
    } 
    .modal_inner {
        width: 70%;
        margin: 0 auto;
    }
    .post_full_view_container {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 45%; 
    }
    .post_full_view_body p {
        font-size: 15pt; 
    }
    .asset_corral.post_full_view_tags:before,
        .post_full_view_figure_container:before {
        left: 18%; 
    }
    .asset_corral.post_full_view_tags:before {
        margin-top: -4%;
    }
    .attachment_caption {
        font-size: 1em; 
    }
    .modal_inner.photo_gallery {
        width: 100%; 
    }
    .gallery_current_image {
        width: 70%; 
    }

}

/* ----------- Non-Retina Screens ----------- */

@media only screen and (min-width: 1050px) and (orientation: landscape) {

    html {
        font-size: 12pt;
    }
    #footer {
        font-size: 12pt; 
    }
    #cookieConsentContainer {
        font-size: 12pt;
        left: 25%;
        right: 25%;
        bottom: 5%; 
        border: 0.1vw dashed #052962;
        padding-bottom: 3%;  
    }
    #cookieConsentContainer button {
        margin-top: 5%;
    }
    h2.post_year {
        width: 70%;
        max-width: 1000px;
        margin: 2% auto;
        padding-left: 1%; 
    }
    .post_container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto; 
    }
    #homeLink {
        left: auto;
        transform: none;
        right: 2vw;
        width: 200px;
        height: 200px;  
    }
    #modalHeroContainer {
    }
    .modal_inner {
        width: 50%;
        margin: 0 auto;  
        overflow: auto; 
    }
    .post_full_view_container {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 35%; 
    }
    .post_full_view_hero, .post_full_view_attachment {
        display: block;
        margin: 0 auto; 
    }
    .asset_corral.post_full_view_tags:before {
        margin-top: -30px;
    }
    .asset_corral.post_full_view_tags:before,
        .post_full_view_figure_container:before {
        left: 27vw; 
    }
    .post_full_view_figure_concept img,
        .post_full_view_figure_unpainted img {
        height: auto; 
        min-height: 20vh;
        width: 100%; 
    }
    .post_full_view_figure_unpainted.wide_thumb img {
        height: 100%;
        width: auto;
        margin-left: -15%;  
    }
    .post_full_view_paints_container {
        display: flex;
        flex-wrap: wrap;
    }
    .paint_swatch_container {
        width: 48%;
        margin-bottom: 1%; 
    }
    .paint_swatch_outer {
        width: 33%; 
    }
    .paint_swatch_inner {
        width: 5vw;
        height: 5vw;
    }
    .modal_inner.photo_gallery {
        width: 100%;
        justify-content: space-evenly;  
    }
    .gallery_ui {
        height: 80%; 
    }
    .gallery_navigator {
        height: 10%;
        width: 50%;  
    }
    .gallery_current_image {
        height: 100%;
        width: 100%; 
    }
    .gallery_current_image img {
        max-height: 100%; 
    }
    .gallery_close_button {
        height: 7%; 
    }
    .gallery_close_button.photo_gallery {
        width: 50%; 
    }
    .tag_search_result_image_container {
        margin-top: -10%; 
    }
    .tag_search_result {
        max-height: 140px; 
    }
    .attachment_caption {
        margin-top: 3px; 
        font-size: 1em; 
    }
}
