{% extends "admin.html" %}

{% block content %}

    <div
        class="edit_post_container"
        ng-controller="editPostController"
        ng-init="loadPost('{{post._id}}')"
    >
        <span ng-if="post._id.$oid !== undefined" ng-init="loadAttachments()"></span>

        <div class="edit_post_left_column">
            <div class="edit_post_hero_container">
                <code>
                    {a post.hero_image.base_name a}
                </code>
                <img ng-src="/images/{a post.hero_image.base_name a}"/>
                <input
                    type="text"
                    class="edit_post_hero_caption"
                    placeholder="Hero Image caption text goes here!"
                    ng-model="post.hero_caption"
                    ng-blur="test(); updatePost({hero_caption: post.hero_caption})"
                />
            </div>
            <div class="edit_post_attachments">

                <div class="edit_post_attachments_inventory">
                    <div
                        class="attachment_container"
                        ng-repeat="attachment in attachments"
                    >
                        {a attachment a}
                    </div>
                </div>

				<div class="edit_post_attachments_toggler">
					<div
						class="toggler toggle_hero"
						ng-click="edit_post_ui.attachments_toggler = 'hero'"
						ng-class="{
							'active': edit_post_ui.attachments_toggler === 'hero',
						}"
					>	
						Change Hero
					</div>
					<div
						class="toggler toggle_attachments"
						ng-click="edit_post_ui.attachments_toggler = 'attachments'"
						ng-class="{
							'active': edit_post_ui.attachments_toggler === 'attachments',
						}"
					>	
						Edit Attachments
					</div>
				</div>

				<ul
					class="asset_corral edit_post"
					ng-if="assets.images !== null && assets.images.length > 0"
					ng-class="{
						'toggle_hero': edit_post_ui.attachments_toggler === 'hero',
						'toggle_attachments': edit_post_ui.attachments_toggler === 'attachments',
					}"
				>
		            <li
						ng-repeat="image in assets.images"
					>
	            	    <img
            	    	    class="asset_corral_image"
	        	            ng-src="/images/{a image.base_name a}"
							ng-click="toggleImage(image._id.$oid)"
    		            />
					</li>
				</ul>

            </div>
        </div>

        <div class="edit_post_middle_column">
            <textarea
                type="text"
                class="edit_post_body"
                placeholder="Body text goes here!"
                ng-model="post.body"
                ng-blur="updatePost({body: post.body})"
            /></textarea>
        </div>

        <div class="edit_post_right_column">
            <div class="edit_post_publish_controls">
                <button
                    ng-click="savePost()"
                >
                    Save
                </button>
                <button
                    ng-if="!post.published"
                    ng-click="updatePost({published: true})"
                >
                    Publish
                </button>
                <button
                    class="warning_button"
                    ng-if="post.published"
                    ng-click="updatePost({published: false})"
                >
                    Un-publish
                </button>
                <button
                    class="warning_button"
                    ng-click="goToURL('/rm/posts/' + post._id.$oid)"
                >
                    DELETE
                </button>
            </div>
            <div ng-if="post.published">
                Published: {a post.published_on.$date|date:'yyyy-MM-dd HH:mm:ss' a}
            </div>
        </div>

    </div><!-- edit_post_container -->

{% endblock %}
