{% extends "admin.html" %}

{% block content %}

    <div
        class="edit_post_container"
        ng-controller="editPostController"
        ng-init="loadPost('{{post._id}}')"
    >
        <span ng-if="post._id.$oid !== undefined" ng-init="loadAttachments()"></span>

        <div class="edit_post_left_column">
            <div class="edit_post_hero_container">
                <code>
                    {a post.hero_image.base_name a}
                </code>
                <img ng-src="/images/{a post.hero_image.base_name a}"/>
                <input
                    type="text"
                    class="edit_post_hero_caption"
                    placeholder="Hero Image caption text goes here!"
                    ng-model="post.hero_caption"
                    ng-blur="test(); updatePost({hero_caption: post.hero_caption})"
                />
            </div>
            <div class="edit_post_attachments">


				<div class="edit_post_attachments_toggler">
					<div
						class="toggler toggle_hero"
						ng-click="edit_post_ui.attachments_toggler = 'hero'"
						ng-class="{
							'active': edit_post_ui.attachments_toggler === 'hero',
						}"
					>	
						Change Hero
					</div>
					<div
						class="toggler toggle_attachments"
						ng-click="edit_post_ui.attachments_toggler = 'attachments'"
						ng-class="{
							'active': edit_post_ui.attachments_toggler === 'attachments',
						}"
					>	
						Edit Attachments
					</div>
				</div>

				<ul
					class="asset_corral edit_post"
					ng-if="assets.images !== null && assets.images.length > 0 && attachments !== undefined"
					ng-class="{
						'toggle_hero': edit_post_ui.attachments_toggler === 'hero',
						'toggle_attachments': edit_post_ui.attachments_toggler === 'attachments',
					}"
				>
		            <li
						ng-repeat="image in assets.images"
                        ng-init="image.is_attached = isAttached(image._id.$oid)"
                        ng-class="{
                            'is_attached': image.is_attached,
                            'is_hero': image._id.$oid === post.hero_image._id.$oid
                        }"
					>
	            	    <img
            	    	    class="asset_corral_image"
	        	            ng-src="/images/{a image.base_name a}"
							ng-click="toggleImage(image._id.$oid)"
                            ng-mouseleave="image.is_attached = isAttached(image._id.$oid)"
    		            />
					</li>
				</ul>

            </div>
        </div>

        <div class="edit_post_middle_column">

            <textarea
                type="text"
                class="edit_post_lede"
                placeholder="Lede for the post goes here"
                ng-model="post.lede"
                ng-blur="updatePost({lede: post.lede})"
            /></textarea>

            <textarea
                type="text"
                class="edit_post_body"
                placeholder="Body text goes here!"
                ng-model="post.body"
                ng-blur="updatePost({body: post.body})"
            /></textarea>

            <div class="edit_post_attachments_inventory">
                <div
                    class="attachment_container"
                    ng-repeat="attachment in attachments|orderBy: 'sort_order'"
                >
                    <div class="attachment_order_container">
                        <button
                            class="incrementer"
                            ng-click="
                                attachment.sort_order = attachment.sort_order - 1;
                                updateAttachment(attachment, {sort_order: attachment.sort_order})
                            "
                        >
                            <div>&#x2039;</div>
                        </button>
                        <button
                            class="decrementer"
                            ng-click="
                                attachment.sort_order = attachment.sort_order + 1;
                                updateAttachment(attachment, {sort_order: attachment.sort_order})
                            "
                        >
                            <div>&#x203a;</div>
                        </button>
                    </div>
                    <img ng-src="/images/{a attachment.image.base_name a}" />
                    <textarea
                        ng-model="attachment.caption"
                        ng-blur="updateAttachment(attachment, {caption: attachment.caption})"
                        placeholder="Caption"
                        class="attachment_caption"
                    >
                    </textarea>
                </div>
            </div>
        </div>

        <div class="edit_post_right_column">
            <div class="edit_post_publish_controls">
                <button
                    ng-click="savePost()"
                >
                    Save
                </button>
                <button
                    ng-if="!post.published"
                    ng-click="updatePost({published: true})"
                >
                    Publish
                </button>
                <button
                    class="warning_button"
                    ng-if="post.published"
                    ng-click="updatePost({published: false})"
                >
                    Un-publish
                </button>
                <button
                    class="warning_button"
                    ng-click="goToURL('/rm/posts/' + post._id.$oid)"
                >
                    DELETE
                </button>
            </div>

            <!-- meta data modal -->
            <button
                ng-click="ui.show_post_meta_data = true"
            >
                post meta data
            </button>


            <div
                ng-if="ui.show_post_meta_data"
                ng-click="ui.show_post_meta_data = false"
                class="modal_outer"
            >
                <div class="modal_inner">
                    <h1>{a post.title a}</h1>
                    <h2>created: {a post.created_on.$date|date:'yyyy-MM-dd HH:mm:ss' a}</h2>
                    <table class="post_meta_data_table">
                        <tr
                            ng-repeat="key in [
                                'created_by',
                                'created_on',
                                'updated_on',
                                'published',
                                'published_on',
                                'title',
                                'handle',
                                'tags',
                                'hero_image',
                                'hero_caption',
                                'lede',
                                'body',
                                'html_body',
                            ]"
                            ng-class-even="'zebra'"
                        >
                            <td class="key">{a key a}</td>
                            <td>{a post[key] a}</td>
                        </tr>
                    </table>
                    <i>Click anywhere to close!</i>
                </div>
            </div>

            <!-- meta data modal -->

            <div class="post_created_on">
                Created on: 
                <input
                    type="date"
                    ng-value="post.created_on.$date|date:'yyyy-MM-dd'"
                    ng-model="scratch.whatever"
                    ng-change="updatePost({created_on: scratch.whatever})"
                >
            </div>
            <div ng-if="post.published">
                Published: {a post.published_on.$date|date:'yyyy-MM-dd HH:mm:ss' a}
            </div>
            <div class="tags_container" ng-if="post !== undefined">
                <div class="tags_corral">
                    <div
                        class="tag"
                        ng-repeat="tag in assets.tags"
                        ng-click="toggleTag(tag)"
                        ng-class="{'active': tagAttached(tag) !== false}"
                    >
                        {a tag.name a}
                    </div>
                </div>
                <div class="new_tag_widget">
                    <input type="text" placeholder="new tag" ng-model="scratch.create_new_tag"/>
                    <button
                        ng-click="createNewTag()"
                    > 
                        +
                    </button>
                </div>
            </div>
        </div>

    </div><!-- edit_post_container -->

{% endblock %}
