<!DOCTYPE html lang="en">
<html ng-app="blog" ng-controller="rootController" lang="en">

    <head>

        <title>The Labor in Vain - "Bad News Travels Fast"</title>

        <meta name="theme-color" content="#000">
        <meta name="description" content="Miniatures, Hobby and Projects Blog for The Labor in Vain, a production company based in Chicago, IL." /> 
        <meta name="keywords" content="{a metaTags a}" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

        <script src="/static/js/blog.js?v={{ VERSION }}"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?v={{ VERSION }}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88194596-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-88194596-3');
        </script>

    </head>

    <noscript>Please enable Javascript!</noscript>

    <body>

		{% block content %}{% endblock %}

        <div id="footer">
            <i>Bad News Travels Fast</i><br/>
            &copy; The Labor in Vain, 2018 - {a ui.curDate|date:'yyyy' a}
        </div>

    </body>


    <div
        ng-if="ui.show_index_about_modal"
        class="modal_outer"
    >
        <div class="modal_inner">

            <div
                class="index_about"
            >
                <p class="centered">
                    <a href="https://thelaborinvain" class="fancy">
                        https://thelaborinvain.com
                    </a>
                </p>
                <p class="centered"><i>"Bad News Travels Fast"</i></p>
                <p>This is version {{ VERSION }} of the tabletop hobby and miniatures painting blog of the Labor in Vain, a production company in Chicago, IL.</p>
                <p>RSS feed: <a class="fancy" href="/rss.xml">https://blog.thelaborinvain/rss.xml</a></p>
                <p>The blog's focus is self improvement and daily practice.</p>
                <p>Find older posts (from 2018 and 2019) on <a href="https://thelaborinvain.blogspot.com" target="top" class="fancy">the old hobby blog</a>.</p>
                <p>Source code for this blog is <a href="https://github.com/theLaborInVain/thelaborinvain_com" target="top" class="fancy">available on GitHub</a>.</p>
                <p>All content published on this website, to include text, photos, video and other media are the property of The Labor in Vain and may not be reproduced for commercial purposes without consent.</p>
            </div>

            <button
                class="modal_close"
                ng-click="ui.show_index_about_modal = false"
            >
                Back
            </button>
        </div><!-- modal_inner -->
    </div><!-- modal_outer -->


</html>
