<html>
    <head>
        <title>The Labor in Vain - Blog Administration!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/adminStyle.css">
    </head>
    
    <body>

        <div id="loginContainer">

    		<div id="loginForm">

    		    <form action="" method="post" novalidate>
	       		    {{ form.hidden_tag() }}
		            <p>
	                	{{ form.email(size=32, placeholder=' email', autofocus='true')}}<br>
	            	    {% for error in form.email.errors %}
	    	            <span style="color: red;">[{{ error }}]</span>
		                {% endfor %}
    		        </p>
	        	    <p>
		                {{ form.password(size=32)}}<br>
	        	        {% for error in form.password.errors %}
    	    	        <span style="color: red;">[{{ error }}]</span>
	    	            {% endfor %}
		            </p>
	            	<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
	    	        <p>{{ form.submit() }}</p>
    		    </form>

	    	</div><!-- loginForm -->

            <div id="flashMessageBox">
	            {% with messages = get_flashed_messages() %}
	            {% if messages %}
	            <ul>
    	            {% for message in messages %}
	                <li>{{ message }}</li>
	                {% endfor %}
	            </ul>
    	        {% endif %}
	            {% endwith %}
            </div>  <!-- flashMessageBox -->

        </div><!-- loginContainer -->

    </body>
</html>
