{% extends "index.html" %}

{% block content %}

    <div
        ng-if="post !== undefined"
        ng-init="
            loadAttachments(post, true);
            setFigure(post.figure.$oid);
        "
        class="post_full_view_container"
    >

        <img
            class="post_full_view_hero headline webfeedsFeaturedVisual"
            ng-src="/images/{a post.hero_image.base_name a}"
            ng-click="showPhotoGallery(post.hero_image.base_name)"
            alt="{a post.hero_caption a}"
        />

        <h1 title="Post title">{a post.title a}</h1>
        <p class="published_on" title="Published on">
            {a post.published_on.$date|date:'yyyy-MM-dd HH:mm:ss' a}
        </p>

        <ul
            class="asset_corral post_full_view_tags"
            ng-if="tags !== undefined"
        >
            <li
                ng-repeat="tag_oid in post.tags"
                ng-init="tag = getTag(tag_oid);"
                ng-click="showTagSearchResults(tag.name)"
            >
                {a tag.name a}
            </li>
        </ul>

        <div
            ng-if="figure !== undefined"
            class="post_full_view_figure_container"
        >
            <div
                class="post_full_view_figure_concept"
            >
                <img ng-src="/images/{a figure.concept_art[0].base_name a}" />
            </div>
            <div
                class="post_full_view_figure_unpainted"
                ng-class="{
                    'tall_thumb': figure.unpainted[0].long_edge === 'vertical',
                    'wide_thumb': figure.unpainted[0].long_edge === 'horizontal',
                }"
            >
                <img ng-src="/images/{a figure.unpainted[0].base_name a}" />
            </div>
            <div
                class="post_full_view_figure_details"
            >
                <h2>{a figure.name a}</h2> {a figure.longest_dimension a}mm<br/>
                {a figure.publisher a}
            </div>
        </div>

        <div class="post_full_view_body">
            <p ng-bind-html="post.html_lede|trustedHTML"></p>
        </div>

        <div
            class="post_full_view_body"
            ng-bind-html="post.html_body|trustedHTML"
        ></div>

        <div
            ng-if="post.paints !== undefined"
            ng-init="expandPaints(post)"
            class="post_full_view_paints_container"
        >
            <div
                class="paint_swatch_container"
                ng-repeat="paint in post.paints"
                ng-init="paintObj = getPaintObject(paint)"
            >
                <div class="paint_swatch_outer">
                    <div
                        class="paint_swatch_inner"
                        style="
                            background-color: {a paintObj.colors[0] a};
                            background: radial-gradient({a paintObj.gradient a});
                        "
                    >
                    </div>
                </div>
                <div
                    class="paint_details"
                >
                    <b>
                        <a href="{a paintObj.url a}" target="top">
                            {a paintObj.name a}
                        </a>
                    </b>
                    <div>
                        <a href="{a paintObj.url a}" target="top">
                            {a paintObj.manufacturer a}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="attachment_container"
            ng-repeat="attachment in post.attachments |orderBy:'sort_order'"
        >
            <img
                loading="lazy"
                class="post_full_view_attachment"
                ng-src="/images/{a attachment.image.base_name a}"
                title="{a attachment.caption a}"
                alt="{a attachment.caption a}"
                ng-click="showPhotoGallery(attachment.image.base_name)"
            />
            <p class="attachment_caption">
                {a attachment.caption a}
            </p>
        </div>

        <button
            class="modal_close post_full_view"
            ng-click="goToURL('/')"
        >
            Back
        </button>

    </div><!-- post_full_view_container -->

    <!-- tag search -->
    <div
        id="tagSearch"
        class="modal_outer"
        ng-if="ui.show_tag_search"
    >
        <div
            class="modal_inner tag_search"
        >
            <span class="tag_search_super_head">All posts using the tag</span>

            <h1>{a tagSearch.tagName a}</h1>

            <div class="tag_search_results_container">
                <div
                    class="tag_search_result"
                    ng-repeat="result in tagSearch.results|orderBy:'published_on.$date':true"
                    ng-if="result.published"
                    ng-click="goToURL('/b/' + result.handle)"
                >
                    <div
                        class="tag_search_result_image_container"
                    >
                        <img
                            loading="lazy"
                            ng-src="/images/{a result.hero_image.base_name a}"
                            class="tag_search_result_image"
                        />
                    </div>

                    <div
                        class="tag_search_result_description"
                    >
                        <b class="tag_search_result_title">{a result.title a}</b><br/>
                        Published: {a result.published_on.$date|date:'yyyy-MM-dd'a}<br/>
                        Tags:
                        <span
                            ng-repeat="tag_oid in result.tags"
                            ng-init="tag = getTag(tag_oid)"
                        >
                            {a tag.name a}{a $last ? '' : ', ' a}
                        </span>

                    </div>

                </div>
            </div>

            <button
                class="gallery_close_button"
                ng-click="ui.show_tag_search = undefined"
            >
                Close
            </button>

        </div>
    </div>

    <!-- photo gallery! -->
    <div
        id="photoGallery"
        class="modal_outer"
        ng-if="ui.show_photo_gallery"
    >
        <div
            class="modal_inner photo_gallery"
            ng-if="gallery.current_image !== undefined"
        >

            <div class="gallery_ui">
                <div class="gallery_current_image">
                    <img
                        title="{a gallery.current_image a}"
                        ng-src="/images/{a gallery.current_image a}"
                        alt="{a gallery.captions[gallery.current_image] a}"
                    />
                    <span>{a gallery.captions[gallery.current_image] a}</span>
                </div>
            </div> <!-- gallery_ui -->

            <div class="gallery_navigator">
                <div
                    class="gallery_page_left"
                    ng-click="navigateGallery('prev')"
                >
                    &#x27A7;
                </div>
                <div class="gallery_current_image">
                    {a gallery.imageBaseNames.indexOf(gallery.current_image) + 1 a}
                    / {a gallery.imageBaseNames.length a}
                </div>
                <div
                    class="gallery_page_right"
                    ng-click="navigateGallery('next')"
                >
                    &#x27A7;
                </div>
            </div>

            <button
                class="gallery_close_button photo_gallery"
                ng-click="ui.show_photo_gallery = undefined"
            >
                Close
            </button>

        </div>
    </div>



<!--
    <a href="/">
        <div
            id="homeLink"
            title="Link to https://blog.thelaborinvain.com"
        >
            <span class="back_arrow">
                &#x27A4;
            </span>

        </div>
    </a>
-->

    <span
        ng-init="
            setPost('{{post_object._id}}')
        "
    >
    </span>

{% endblock %}
